// Define Typography using fluid min & max 
//    font-size and line-height values
//    as well as min and max viewport size

$min_width: 320px;
$max_width: 1200px;
$min_font_size: 22px;
$max_font_size: 22px;
$min_line_height: 1.35em;
$max_line_height: 1.5em;

:root {
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font_size,
    $max_font_size,
    $min_line_height,
    $max_line_height
  );
}

h1 {
  @include fluid-type(
    $min_width,
    $max_width,
    36px, //min_font_size
    72px, //max_font_size
    38px, //min_line_height
    74px  //max_line_height
  );
}

h2 {
  @include fluid-type(
    $min_width,
    $max_width,
    36px, //min_font_size
    48px, //max_font_size
    1.2, //min_line_height
    1.2  //max_line_height
  );
  @include fluid-space(
    $min_width,
    $max_width,
    35px, /* min_space */
    55px, /* max_space */
    'margin-bottom'
  );
}


h3 {
  @include fluid-type(
    $min_width,
    $max_width,
    28px, //min_font_size
    36px, //max_font_size
    36px, //min_line_height
    48px  //max_line_height
  );
  @include fluid-space(
    $min_width,
    $max_width,
    20px, /* min_space */
    30px, /* max_space */
    'margin-bottom'
  );
}

.lead {
  @include fluid-type(
    $min_width,
    $max_width,
    22px, //min_font_size
    28px, //max_font_size
    32px, //min_line_height
    38px  //max_line_height
  );
}