/* =======================================================================
## ++ Media Queries
========================================================================== */

/* 
    Used for media queries. 
    Add these mixins in your normal scss flow.
    
    Eg.
    .container{
        width:1024px;
        
        @include tablets{
            width:90%;
        }
    }
*/ 

@mixin lowresmonitors{
        @media screen and (max-width: 1350px){ @content;}
}

@mixin tablets{
        @media screen and (max-width: 1100px){ @content; }
}

@mixin phones{
        @media screen and (max-width: 720px){ @content; }
}

/* =======================================================================
## ++ Fluid Typography
========================================================================== */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $min-line-height, $max-line-height) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  $u5: unit($min-line-height);
  $u6: unit($max-line-height);

  // Check that first four variable all have same unit: px
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 and $u5 == $u6 {
    & {
      font-size: $min-font-size;
      line-height: $min-line-height;

      @media screen and (min-width: $min-vw) {
        font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) );
        line-height: calc( #{$min-line-height} + #{strip-unit($max-line-height - $min-line-height)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
        line-height: $max-line-height;
      }
    }
  }
}

//  Mixin for fluid space
//  $property: margin | padding
@mixin fluid-space($min-vw, $max-vw, $min-space, $max-space, $property) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-space);
  $u4: unit($max-space);

  // Check that first four variable all have same unit: px
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 and ( str-index($property, 'margin') or str-index($property, 'padding') or str-index($property, 'grid-gap')) {
    & {
      #{$property}: $min-space;

      @media screen and (min-width: $min-vw) {
        #{$property}: calc( #{$min-space} + #{strip-unit($max-space - $min-space)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) );
      }
      @media screen and (min-width: $max-vw) {
        #{$property}: $max-space;
      }
    }
  }
}